.event-container{
  @include display(flex);
  @include clearfix;
  padding: 10px 20px;
  @include media(min-width 750px) {
    padding: 20px;
  }
}

.event-details{
  width: 100%;
  @include media(min-width 750px) {
    width: 60%;
  }
}

.event-heading-container{
  margin: 10px 0;
}

.event-artists{
  margin: 0;
  font-size: 2em;
  font-weight: 800;
  color: black;
}

.event-date{
  margin: 0;
  font-weight: 600;
  color: $charcoal;
}

.event-time{
  margin: 0;
  color: $charcoal;
}

.event-venue-container{
}

.event-venue-info{
  margin: 0;
}

.event-artist-bio{
  margin: 10px 0 0 0;
}

.event-genres{
  margin: 10px 0 0 0;
  color: $charcoal;
  font-weight: 300;
}

.event-listen-btn{
  width: 100px;
  display: inline-block;
  &:hover{
    opacity: 0.8;
  }
}

.event-venue-directions{
  padding: 7px 22px;
  border: 1px solid $charcoal;
  border-radius: 25px;
  text-decoration: none;
  font-size: 0.6em;
  color: $charcoal;
  display: inline-block;
  vertical-align: top;
  background: none;
  &:hover{
    color: white;
    background: $charcoal;
  }
}

.event-map-container{
  // width: 40%;
  height: 400px;
  width: 400px;
  display: none;
  @include media(min-width 750px) {
    display: block;
  }
}

.angular-google-map-container{
  height: 400px;
  width: 400px;
}

.angular-google-map{
  height: 400px;
  width: 400px;
}
