.event-container{
  @include display(flex);
}

.event-image{
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-details{
  width: 60%;
}

.event-artists{
  margin: 0;
}

.event-listen-btn{
  width: 100px;
}
