.event-container{
  @include display(flex);
}

.event-image{
  width: 40%;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-details{
  width: 60%;
  padding: 0 20px;
}

.event-heading-container{
  margin: 10px 0;
}

.event-artists{
  margin: 0;
  font-size: 2em;
  font-weight: 800;
  color: black;
}

.event-date{
  margin: 0;
  font-weight: 600;
}

.event-time{
  margin: 0;
}

.event-venue-container{
}

.event-venue-info{
  margin: 0;
  font-weight: 300;
}

.event-metadata{
  margin: 0;
}

.event-listen-btn{
  width: 100px;
}
