event-filter{
  width: 25%;
}

.filter-content{
  padding: 0 20px 0 0;
}

.filter-headline{
  margin: 0;
  border-bottom: 1px solid $black;
  display: block;
  margin: 0 20px 0 0;
  color: $orange;
}

.filter-dates{
  margin: 10px 0;
  label{
    color: $charcoal;
    font-weight: 300;
    font-size: 0.75em;
  }
  input{
    width: 100%;
  }
}

.filter-search{
  margin: 10px 0;
  label{
    color: $charcoal;
    font-weight: 300;
    font-size: 0.75em;
  }
  input{
    width: 100%;
  }
}

.filter-selectedVenue{
  margin: 10px 0;
  label{
    color: $charcoal;
    font-weight: 300;
    font-size: 0.75em;
  }
  select{
    width: 100%;
  }
}

.filter-genres{
  margin: 10px 0;
  label{
    color: $charcoal;
    font-weight: 300;
    font-size: 0.75em;
  }
  select{
    width: 100%;
  }
}

.filter-itemsPerPage{
  margin: 10px 0;
  label{
    color: $charcoal;
    font-weight: 300;
    font-size: 0.75em;
  }
  select{
    width: 100%;
  }
}
