.filter-container{
  @include span-columns(3);
  display: inline-block;
}

.filter-content{
  padding: 20px;
}

.filter-headline{
  margin: 0;
  border-bottom: 1px solid $black;
  display: block;
  margin: 0 20px;
  color: $papaya;
}

.filter-dates{
  label{
  }
  input{
    width: 100%;
  }
}

.filter-search{
  label{
  }
  input{
    width: 100%;
  }
}

.filter-selectedVenue{
  label{
  }
  select{
    width: 100%;
  }
}

.filter-itemsPerPage{
  label{
  }
  select{
    width: 100%;
  }
}
