footer{
  background: $grey;
  padding: 15px;
  height: 51px;
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  width: 100%;
}

.footer-text{
  color: $charcoal;
  display: inline-block;
  margin: 0;
  font-size: 0.6em;
}

.footer-songkick-logo{
  display: inline-block;
  min-height: 30px;
  background-repeat: no-repeat;
  background-size: contain;
  min-width: 100px;
  float: right;
}
