.header-container{
  @include clearfix;
  background: $grey;
  padding: 20px;
  a{
    text-decoration: none;
  }
}

.header-logo{
  @include span-columns(8);
  color: $black;
  display: inline-block;
  margin: 0;
  font-size: 1em;
  text-transform: uppercase;
  letter-spacing: 1px;
}

.header-back{
  @include span-columns(4);
  color: $charcoal;
  display: inline-block;
  text-align: right;
  vertical-align: middle;
  padding: 10px 10px 0;
}
