.events-container{
  padding: 20px;
  @include display(flex)
}

.event-headline-container{
  width: 75%;
}

.event-title{
  border-bottom: 1px solid $black;
  margin: 0;
  color: $orange;
}

.event-content{
  padding: 10px 0;
  text-align: center;
  @include clearfix;
}

.event-headline{
  list-style: none;
  @include span-columns(3);
  background: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.08);
  height: 220px;
  overflow: hidden;
  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  &:nth-child(4n){
    @include omega();
  }
}

.event-headline-link{
  height: 100%;
  width: 100%;
  padding: 10px;
  display: block;
  position: relative;
  text-decoration: none;
}

.event-headline-img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
}

.event-headline-text{
  margin: 5px 0 0 0;
}

.event-headline-artists{
  margin: 0;
  color: $black;
  font-size: 1em;
  font-weight: 700;
}

.event-headline-date{
  margin: 0;
  color: $charcoal;
  font-size: 0.8em;
  font-weight: 300;
}

.event-headline-venue{
  margin: 0;
  color: $papaya;
  font-size: 0.9em;
  font-weight: 300;
}

.event-headline-more-info{
  margin: 10px 0 0 0;
  color: $charcoal;
  font-size: 0.6em;
  position: absolute;
  bottom: 5%;
  left: 39.5%;
}
