.events-container{
  padding: 20px 0 0 0;
}

.event-headline-container{
  @include span-columns(9);
  display: inline-block;
}

.event-title{
  border-bottom: 1px solid $black;
  margin: 0;
  color: $orange;
}

.event-content{
  padding: 10px 0;
  text-align: center;
  @include clearfix;
}

.event-headline{
  list-style: none;
  padding: 2%;
  @include span-columns(3);
  background: white;
  margin-bottom: 10px;
  box-shadow: 0 2px 5px 0 rgba(0,0,0,0.12),0 2px 10px 0 rgba(0,0,0,0.08);
  height: 220px;
  overflow: hidden;
  &:hover{
    box-shadow: 0 8px 17px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
  }
  &:nth-child(4n){
    @include omega();
  }
}

.event-headline-artists{
  margin: 0;
  color: $black;
  font-size: 1.25em;
}

.event-headline-text{
  margin: 0;
  display: inline-block;
  font-size: 0.8em;
}

.event-headline-date{
  margin: 0;
  color: $black;
  font-size: 0.8em;
}

.event-headline-venue{
  margin: 0;
  color: $charcoal;
}

.event-headline-img{
  width: 80px;
  height: 80px;
  border-radius: 40px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  display: block;
}
