.sharing-links-container{
  display: block;
}

.sharing-social-links{
  display: inline-block;
  list-style: none;
  margin: 10px 0;
  padding: 0;
  li{
    display: inline-block;
  }
}

.event-calendar-link{
  text-decoration: none;
  display: inline-block;
  margin: 0;
  font-size: 1em;
}

.event-calendar-icon{
  position: relative;
  display: inline-block;
}

.event-calendar-date{
  position: absolute;
  top: 13px;
  left: 10px;
  font-size: 1.2em;
  color: $charcoal;
}

.event-calendar-icon{
  max-width: 40px;
  fill: $charcoal;
}
