<form>
  <input type="date" name="startingDate" ng-model="eventFilterCtrl.startingDate">
  <input type="date" name="endingDate" ng-model="eventFilterCtrl.endingDate">
  <select ng-model="selectedVenue" ng-options="venue for venue in eventFilterCtrl.venues">
    <option value="">Venues</option>
  </select>
  <select ng-model="eventFilterCtrl.itemsPerPage" name="items Per Page">
    <option value="20">20</option>
    <option value="50">50</option>
    <option value="100">100</option>
  </select>
</form>
