<form class="filter-container" ng-class="{'open': eventFilterCtrl.showFilter}">
  <h3 class="filter-headline">Filter</h3>
  <div class="filter-content">
    <div class="filter-dates">
      <label for="startingDate">From: </label>
      <input type="date" name="startingDate" ng-model="eventFilterCtrl.startingDate">
    </div>
    <div class="filter-dates">
      <label for="endingDate">To: </label>
      <input type="date" name="endingDate" ng-model="eventFilterCtrl.endingDate">
    </div>
    <div class="filter-search">
      <label for="query">Search: </label>
      <input type="text" name="query" ng-model="eventFilterCtrl.query"/>
    </div>
    <div class="filter-selectedVenue">
      <label for="selectedVenue">Venues: </label>
      <select ng-model="eventFilterCtrl.selectedVenue" ng-options="venue for venue in venues">
        <option value="">Venues</option>
      </select>
    </div>
    <div class="filter-itemsPerPage">
      <label for="itemsPerPage">Listings per page: </label>
      <select name="itemsPerPage" ng-model="eventFilterCtrl.itemsPerPage">
        <option value="20">20</option>
        <option value="50">50</option>
        <option value="100">100</option>
      </select>
    </div>
  </div>
</form>
