<form>
  <input type="date" name="startingDate" ng-model="startingDate">
  <input type="date" name="endingDate" ng-model="endingDate">
  <div class="filter-search">
    <label>Search: </label>
    <input type="text" name="query" ng-model="query"/>
  </div>
  <div class="filter-selectedVenue">
    <label>Venues: </label>
    <select ng-model="selectedVenue" ng-options="venue for venue in venues">
      <option value="">Venues</option>
    </select>
  </div>
  <div class="filter-itemsPerPage">
    <label>Listings per page: </label>
    <select name="itemsPerPage" ng-model="itemsPerPage">
      <option value="20">20</option>
      <option value="50">50</option>
      <option value="100">100</option>
    </select>
  </div>
</form>
