<header></header>
<div class="events-container">
  <event-filter venues="vm.venues" selected-venue="vm.filterOptions.venue" starting-date="vm.filterOptions.startingDate" ending-date="vm.filterOptions.endingDate" items-per-page="vm.filterOptions.itemsPerPage" query="vm.filterOptions.query"></event-filter>
  <div class="event-headline-container">
    <h3 class="event-title">Events</h3>
    <div class="event-content">
      <event-headline dir-paginate="event in vm.events | filter:vm.filterOptions.query | venueFilter:vm.filterOptions.venue | dateBefore:vm.filterOptions.endingDate | dateAfter:vm.filterOptions.startingDate | itemsPerPage:vm.filterOptions.itemsPerPage"
      event="event" class="event-headline"></event-headline>
    </div>
    <dir-pagination-controls max-size="5" direction-links="true" boundary-links="true"></dir-pagination-controls>
  </div>
  <p class="loading-warning" ng-show="vm.events.length === 0">Loading...</p>
</div>
<footer>
  <p class="footer-text">All event info is graciously provided by Songkick. Artist biographies are supplied by Last.fm and geolocation data is gathered from Bing Maps.</p>
  <div class="footer-songkick-logo" style="background-image: url('/images/concerts-songkick.png')"></div>
</footer>
