<div class="event-headline-container">
  <event-filter venues="vm.venues" selected-venue="vm.filterOptions.venue" starting-date="vm.filterOptions.startingDate" ending-date="vm.filterOptions.endingDate"></event-filter>
  <event-headline ng-repeat="event in vm.events | venueFilter:vm.filterOptions.venue | dateBefore:vm.filterOptions.endingDate | dateAfter:vm.filterOptions.startingDate"
  event="event" class="event-headline"></event-headline>
</div>
<p ng-show="vm.events.length === 0">Loading...</p>
