<ul>
  <li><a href="{{sharingLinksCtrl.gCalendar}}" rel="nofollow" class="event-calendar-link">Add to Google Calendar</a></li>
  <li><a href="{{sharingLinksCtrl.facebook}}" target="_blank" title="Share on Facebook" rel="nofollow">Facebook</a></li>
  <li><a href="{{sharingLinksCtrl.twitter}}" target="_blank" title="Tweet" rel="nofollow">Twitter</a></li>
  <li><a href="{{sharingLinksCtrl.googlePlus}}" target="_blank" title="Share on Google+" rel="nofollow">Google+</i></a></li>
  <li><a href="{{sharingLinksCtrl.email}}" target="_blank" title="Email" rel="nofollow">E-mail</a></li>
</ul>
