<ul class="sharing-social-links">
  <li>
    <a href="{{sharingLinksCtrl.facebook}}" target="_blank" title="Share on Facebook" rel="nofollow">
      <img src="images/facebook.svg" alt="Share on Facebook" class="icon"/>
    </a>
  </li>
  <li>
    <a href="{{sharingLinksCtrl.twitter}}" target="_blank" title="Tweet" rel="nofollow">
      <img src="images/twitter.svg" alt="Share on Twitter" class="icon"/>
    </a>
  </li>
  <li>
    <a href="{{sharingLinksCtrl.googlePlus}}" target="_blank" title="Share on Google+" rel="nofollow">
      <img src="images/googlePlus.svg" alt="Share on Google+" class="icon"/>
    </a>
  </li>
  <li>
    <a href="{{sharingLinksCtrl.email}}" target="_blank" title="Email" rel="nofollow">
      <img src="images/email.svg" alt="Share via E-mail" class="icon"/>
    </a>
  </li>
</ul>
<a href="{{sharingLinksCtrl.gCalendar}}" rel="nofollow" class="event-calendar-link" title="Add to Google Calendar">
  <div class="event-calendar-icon">
    <img src="images/calendar.svg" alt="Calendar" class="event-calendar-icon"/>
    <span class="event-calendar-date">{{sharingLinksCtrl.date | fixedNumLength: 2}}</span>
  </div>
</a>
